

/* Core Styles */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  color: #FFF;
}

img {
  max-width: 100%;
  margin: 10px;
}

/* Main Styles */

.mainHeader {
  padding: 20px;
  height: 200px;
  background: linear-gradient(#1D2120, transparent 50%),
              linear-gradient(0deg, #5A5C51, transparent),
              #795548 url('../img/mtn-landscape-1.jpg') no-repeat center;
  background-size: cover;
}


.mainFooter {
  clear: both;
  width: 100%;
  padding-top: 20px;
  border-bottom: solid 20px #BCD5D1;
}


/* Floated Images */

.forest,
.volcano {
  width: 46%;
  margin: 0 0 300px 0;
}

.forest {
  float: left;
}

.volcano {
  float: right;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Media Queries */

@media (max-width: 768px) {
  .forest,
  .volcano {
    float: none;
    width: 100%;
    }
  }

/*

Color Scheme #1 (Gradients)

Header: #77C9D4
Status: #57BC90
Footer: #015249
Accent: #A5A5A5

Color Scheme #2

Header: #795548
Status: #388E3C
Footer: #FFF176
Accent: #FFFF00

Color Scheme #3

Header: #1D2120
Status: #5A5C51
Footer: #BA9077
Accent: #BCD5D1

*/
